.locatioin-desc{
	background: url(../img/circle-bg.png) #FFFFFF no-repeat -42px 60px;
}
.locatioin-desc .content{
	height: 500px;
	background: url(../img/address/location.png) no-repeat 700px 0px;
}