body{
	font-family: STHeiti,"Microsoft Yahei","Microsoft YaHei",Arial,sans-serif;
}
.left{
	float: left;
}
.right{
	float: right;
}
.text-right{
	text-align: right;
}
.header{
	height: 80px;
	background-color: #253149;
}
.header .logo{
	display: block;
	width: 180px;
	height: 80px;
	background: url(../img/logo.png) no-repeat center 0;
}
.header *{
	color: #fff;
	font-size: 14px;
	line-height: 80px;
	text-decoration: none;
}
.header .nav li{
	float: left;
	text-align: center;
	
}
.header .nav .navhref{
	width: 420px;
}
.header .nav a{
	line-height: 80px;
	padding: 0 20px;
	display: block;
}
.header .contract{
	width: 106px;
	padding-left: 20px;
	padding-left: 24px;
	background: url(../img/phone.png) no-repeat 0px 30px;
}
.header .nav li:hover{
	background-color: #387bbe;
}
.content{
	width: 1170px;
	margin: 0 auto;
	position: relative;
}
.desc-tips{
	height: 50px;
	position: absolute;
	width: 50px;
	display: block;
	top: 10px;
	left: -4px;
	cursor: pointer;
	background-image: url(../img/home/btntip.png);
	background-position: 0 0;
}
.desc-tips:hover{
	background-position: -53.5px 0;
}
.whyme, .whatme, .whareme{
	height: 700px;
}
.whyme{
	background: url(../img/home/whyme.png) #222 no-repeat center 0;
}
.whatme{
	background: url(../img/home/whatme.jpg) #222 no-repeat center 0;
}
.whareme{
	background: url(../img/home/whareme.jpg) #222 no-repeat center 0;
}
.whyme .logoimg{
	width: 220px;
	height: 320px;
	background:  url(../img/logo-xl.png) no-repeat center 0;
	position: absolute;
	top: 130px;
	left: 220px;
}
.whyme .whyme-info, .whatme .whatme-info, .whareme .whareme-info{
	width: 464px;
	height: 170px;
	position: absolute;
	padding: 30px 0 0 50px;
	font-size: 16px;
	background: url(../img/home/info-line.png) no-repeat 42px 21px;
}
.whyme .whyme-info{
	top: 200px;
	right: 55px;
}
.desc{
	color: #fff;
	line-height: 22px;
}
.text-right, .text-left{
	margin-bottom: 20px;
}
.whatme .whatme-info{
	left: 100px;
	top: 240px;
}
.whareme .whareme-info{
	left: 100px;
	top: 240px;
	width: 570px;
}
.footer{
	height: 120px;
	color: #fff;
	background-color: #253149;
}
.footer .content{
	padding: 16px;
}
.footer .qr-code{
	float: left;
	margin: 10px 8px 0 0;
	background-color: #fff;
}
.footer .qr-code-tip{
	float: left;
	margin-top: 66px;
}
.footer .copyright-info{
	width: 330px;
	margin-top: 15px;
	line-height: 34px;
}
.footer .copyright li{
	float: right;
}
.footer .copyright a{
	color: #fff;
	text-decoration: none;
}
.footer .copyright a:hover{
	text-decoration: underline;
}
.footer .split-line{
	margin: 0 10px;
}
.footer .companytip{
	text-align: right;
}
