.star-desc{
	padding-top: 50px;
	color: #387bbe;
	font-size: 16px;
	background: url(../img/circle-bg.png) #FFFFFF no-repeat 6px 87px;
}
.star-desc ul{
	width: 1000px;
	margin: 0 auto;
}
.star-desc li{
	float: left;
	width: 33.333%;
}
.star-desc li div{
	width: 188px;
	margin: 0 auto;
	line-height: 50px;
	font-weight: bold;
	text-align: center;
}
.star-desc .star-desc-img{
	height: 188px;
	background-image: url(../img/join/join-circles.png);
}
.star-desc .photographer{
	background-position: -60px -22px;
}
.star-desc .land{
	background-position: -382px -22px;
}
.star-desc .us{
	background-position: -708px -22px;
}
.area-joinus{
	height: 400px;
	margin-top: -20px;
	background: url(../img/bg-2.png) no-repeat 986px 102px;
}
.company-info{
	color: #ffffff;
	height: 220px;
	background-color: #387bbe;
}
.company-info .company-china,
.company-info .company-england{
	width: 50%;
	float: left;
}
.company-info ul{
	width: 446px;
	margin: 58px auto 0;
}
.company-info li{
	padding-left: 26px;
	line-height: 24px;
	font-size: 16px;
	margin-top: 10px;
	background: url(../img/join/icons.png) no-repeat;
}
.company-info .company-position{
	background-position: -16px -18px;
}
.company-info .company-email{
	background-position: -16px -72px;
}
.company-info .company-phone{
	background-position: -16px -105px;
}