.map1, .map2, .map3, .map4{
	height: 200px;
}
.map1{
	background: url(../img/map/map1.png) no-repeat center 0;
}
.map2{
	background: url(../img/map/map2.png) no-repeat center 0;
}
.map3{
	background: url(../img/map/map3.png) no-repeat center 0;
}
.map4{
	background: url(../img/map/map4.png) no-repeat center 0;
}