body{
	font-family: STHeiti,
		"Microsoft Yahei",
		Arial, sans-serif;
}

.view-spot {
	width: 640px;
	background-color: #fff;
}

.view-spot .item{
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
}

.view-spot-entrance {
	height: 130px;
	background-color: #edefed;
	line-height: 130px;
	padding: 0 40px;
}

.view-spot-entrance h2 {
	font-size: 42px;
	color: #565a5c;
	float: left;
}

.view-spot-entrance a {
	float: right;
	width: 60px;
	height: 60px;
	margin-top: 38px;
	background: url(../img/icons.png) no-repeat -15px 0px;
}

.spot-show {
	height: 240px;
	position: relative;
}

.spot-img-ctn {
	height: 240px;
	overflow: hidden;
}

.spot-summary {
	position: absolute;
	bottom: 0;
	padding: 0 30px 0 10px;
	background-color: #f4ad26;
}

.spot-summary li {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 30px;
	margin-left: 20px;
	float: left;
	color: #FFF;
	display: block;
}

.spot-summary li span{
	font-size: 20px;
}

.spot-summary .price-icon{
	font-size: 28px;
}

.spot-summary .spot-time {
	padding-left: 45px;
	background: url(../img/icons.png) no-repeat 0 -44px;
}

.spot-summary .spot-translator {
	padding-left: 45px;
	background: url(../img/icons.png) no-repeat 0 -137px;
}

.spot-show .contry-mark {
	width: 120px;
	height: 120px;
	padding: 2px;
	border-radius: 60px;
	position: absolute;
	right: 30px;
	bottom: -30px;
	background-color: #fff;
}

.spot-show .contry-mark img {
	width: 120px;
	height: 120px;
	border-radius: 60px;
}

.spot-desc {
	color: #565a5c;
	padding: 34px 20px;
	line-height: 34px;
}

.spot-desc h3 {
	float: left;
	font-size: 30px;
}

.spot-desc span {
	float: right;
	font-size: 24px;
	padding-left: 36px;
	background: url(../img/tip.png) no-repeat 0px -95px;
}

.spot-desc-content {
	margin-top: 20px;
	line-height: 32px;
	font-size: 24px;
	overflow: hidden;
	height: 68px;
	/* white-space: nowrap; */
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.view-spot .dest-show {
	position: relative;
	height: 300px;
	overflow: hidden;
	text-shadow: 1px 1px 6px #000;
}

.dest-show .dest-name {
	width: 42px;
	font-size: 42px;
	line-height: 40px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 72px;
	left: 50%;
	margin-left: -20px;
}

.dest-show .spot-num {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -110px;
	font-size: 24px;
	color: #fff;
}

.dest-show .spot-num .spot-pro-num {
	margin-left: 30px;
}

.company-info {
	height: 580px;
	background: url(../img/home/5.jpg) no-repeat 0 0;
}

.loc-head {
	height: 312px;
	position: relative;
	margin-bottom: 20px;
}

.loc-head .loc-name {
	font-size: 42px;
	padding-left: 40px;
	background: url(../img/tip.png) no-repeat 0px -88px;
	position: absolute;
	bottom: 30px;
	left: 20px;
	color: #fff;
	line-height: 42px;
}

.loc-head .loc-name-en {
	font-size: 30px;
}

.loc-head .contry-mark {
	width: 90px;
	height: 90px;
	padding: 2px;
	border-radius: 45px;
	position: absolute;
	right: 30px;
	bottom: 20px;
	background-color: #fff;
}

.loc-head .contry-mark img {
	width: 90px;
	height: 90px;
	border-radius: 45px;
}

/**-----------------------Product_list------------------------------**/

.tag-nav-cnt {
	background-color: #edefed;
	overflow: hidden;
	position: fixed;
	top: 0px;
	height: 120px;
	z-index: 10;
}

.tag-nav {
	height: 120px;
}

.tag-nav .turn-prev,
.tag-nav .turn-next {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 45px;
	cursor: pointer;
	background: url(../img/icon.png) no-repeat 10px 10px;
}

.hide{
	display: none;
}

.tag-nav .turn-prev {
	left: -4px;
	transform: rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari ºÍ Chrome */
	-o-transform:rotate(180deg); 	/* Opera */
}

.tag-nav .turn-next {
	right: 0px;
}

.tag-nav .touchslider-viewport{
	width: 570px;
	float: left;
	margin: 0 35px;
}

.tag-nav .touchslider-item a {
	display: block;
	float: left;
	font-size: 30px;
	line-height: 90px;
	color: #929696;
	text-decoration: none;
	width: 186px;
	margin-top: 20px;
	text-align: center;
}

.tag-nav .touchslider-item .cur-nav, 
.tag-nav .touchslider-item a:hover {
	border-bottom: 4px solid #ffb11b;
	color: #ffb11b;
}

.top-120 {
	margin-top: 120px;
}



/************************Detail*********************************/




.detail-page{
	background-color: #edefed;
}

.detail-summary {
	height: 300px;
}

.detail-summary .spot-img-ctn {
	height: 300px;
}

.detail-summary .spot-summary {
	background: none;
	z-index: 2;
}

.detail-summary-name {
	position: absolute;
	bottom: 16px;
	right: 40px;
	font-size: 24px;
	line-height: 32px;
	color: #fff;
	z-index: 2;
	padding-left: 48px;
	background: url(../img/dist.png) no-repeat 2px -5px;
}

.summary-mask {
	height: 300px;
	width: 640px;
	background: url(../img/home/2.png) no-repeat left bottom;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.summary-tip {
	position: absolute;
	top: 0px;
	z-index: 10;
	background-color: #ffb11b;
	height: 110px;
	width: 640px;
	background: url(../img/home/4.png) no-repeat 0 0;
}

.summary-tip .summary-tip-close {
	display: block;
	width: 40px;
	cursor: pointer;
	height: 40px;
	margin-left: 566px;
	margin-top: 36px;
}

.guide-summary {
	padding: 46px;
	position: relative;
}

.guide-summary .guide-head {
	width: 160px;
	height: 160px;
	border-radius: 80px;
	float: left;
}

.guide-summary .guide-summary-info {
	width: 350px;
	float: right;
	display: block;
	color: #565a5c;
	text-decoration: none;
}

.guide-summary .guide-infos {
	width: 350px;
	float: right;
	margin-top: 20px;
}

.guide-summary .guide-name {
	font-size: 30px;
	line-height: 60px;
}

.guide-infos li {
	width: 350px;
	float: left;
	line-height: 40px;
}

.guide-infos .guide-desc {
	font-size: 20px;
	float: left;
	display: inline-block;
	color: #ffb11b;
}

.guide-infos .guide-info {
	font-size: 24px;
	display: inline-block;
	width: 170px;
	float: left;
	margin-left: 15px;
}

.detail-page .guide-infos .guide-info {
	width: 280px;
}

.guide-summary .guide-detail-enter {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 110px;
	right: 10px;
	display: block;
	background: url(../img/icons.png) no-repeat 4px -198px;
}

.guide-detail {
	margin-top: 20px;
}

.guide-detail .guide-detail-info, .guide-plan-info .guide-plan-content, .guide-notice-content{
	padding: 40px;
}

.guide-info-nav li {
	float: left;
	width: 186px;
	border-bottom: 2px solid #9a9c9d;
}

.guide-info-nav li span {
	display: block;
	cursor: pointer;
	color: #9a9c9d;
	padding: 60px 0 30px;
	text-align: center;
	line-height: 30px;
	font-size: 24px;
	background: url(../img/icons.png);
	text-decoration: none;
}

.guide-info-nav li.cur {
	border-bottom: 2px solid #ffb11b;
}

.guide-info-nav li.cur a {
	color: #ffb11b;
}

.guide-info-nav .guide-advantage {
	background-position: -60px -132px;
}

.guide-info-nav .cur .guide-advantage {
	background-position: -60px -132px;
}

.guide-info-nav .cur .guide-plan {
	background-position: -178px -132px;
}

.guide-info-nav .guide-plan {
	background-position: -180px -248px;
}

.guide-info-nav .cur .guide-notice {
	background-position: -300px -132px;
}

.guide-info-nav .guide-notice {
	background-position: -304px -248px;
}

.guide-advantage-content {
	padding-left: 40px;
	font-size: 24px;
	padding-top: 26px;
	line-height: 38px;
	word-break : normal;
	color: #565a5c;
	background: url(../img/quotes.png) no-repeat -12px 22px;
}

.guide-plan-info, .guide-notice-info {
	border-top: 1px solid #edefed;
}

.bottom120{
	height: 120px;
}

.guide-plan-list {
	line-height: 40px;
	margin-top: 20px;
	color: #565a5c;
}

.guide-plan-list li{
	position: relative;
	margin-bottom: 20px;
}

.guide-plan-title {
	line-height: 32px;
	font-size: 30px;
	color: #ffb11b;
	padding-left: 40px;
	background: url(../img/tip.png) no-repeat -5px -8px;
}

.plan-item div, .plan-item-traffic div{
	float: left;
}

.guide-plan-item-name {
	padding-left: 40px;
	font-size: 24px;
	font-weight: bold;
	width: 118px;
	position: relative;
	background: url(../img/tip.png);
	background-repeat: no-repeat;
}

.plan-item .guide-plan-item-name{
	background-position: -5px -94px;
}

.plan-item-traffic .guide-plan-item-name {
	background-position: -5px -50px;
}

.guide-plan-item-content {
	font-size: 24px;
	width: 380px;
}

.plan-day{
	position: absolute;
	width: 46px;
	height: 46px;
	top: -4px;
	left: -10px;
	background: url(../img/tip.png) no-repeat 0px -143px;
}

.plan-item-desc .guide-plan-item-name{
	background: none;
	padding-left: 0;
}

.plan-item-desc{
	padding-left: 40px;
	background: url(../img/yellow-line.png) repeat-y 9px 0;
}

.plan-day .plan-day-num{
	margin-top: 14px;
	text-align: center;
	font-size: 16px;
	width: 46px;
	color: #fff;
}

.plan-item-desc .guide-plan-item-content{
	margin-left: 20px;
}

.plan-item-desc .guide-plan-item-name i{
	position: absolute;
	left: -38px;
	width: 20px;
	top: 6px;
	height: 20px;
	background: url(../img/icons.png) no-repeat -398px -85px;
}

.plan-item-desc img{
	margin-top: 10px;
}

.guide-notice-info .guide-plan-title {
	background: url(../img/tip.png) no-repeat -3px -206px;
	margin-bottom: 15px;
}

.guide-notice-info{
	font-size: 24px;
	color: #565a5c;
	line-height: 40px;
}
.guide-notice-item{
	margin-bottom: 20px;
}
.guide-notice-tile{
	font-weight: bold;
	padding-left: 40px;
}

.guide-notice-desc{
	padding-left: 40px;
	background: url(../img/yellow-dot.png) no-repeat 8px -4px;
}

.guide-buy{
	height: 120px;
	color: #ffb11b;
	font-size: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #edefed;
}
.guide-buy span{
	font-size: 30px;
}
.guide-buy .buy-price{
	margin: 60px 40px 0 40px;
}

.guide-buy a{
	display: none;
	display: block;
	float: left;
	margin-top: 20px;
	padding: 30px 155px;
	border-radius: 10px;
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	background-color: #ffb11b;
}
.guide-buy div{
	float: left;
}

.detail-page .touchslider-viewport{
	overflow: hidden;
}

.detail-page .see-more-pic{
	z-index: 5;
}

.detail-page .pic-carousel{
	width: 640px;
	height: 100%;
	display: none;
	z-index: 100;
	background: url(../img/opacity.png) repeat 0 0;
	position: fixed;
	top: 0;
	left: 0;
}

.touchslider-pics {
	overflow:hidden;
	
}

/***********************Guide*****************************/

.guider-summary {
	position: relative;
}

.see-more-pic {
	position: absolute;
	top: 5px;
	cursor: pointer;
	right: 10px;
	width: 60px;
	height: 60px;
	background: url(../img/icons.png) no-repeat -120px -338px;
}

.close-more-pic {
	float: right;
	margin: 10px 20px 0 0;
	font-size: 60px;
	line-height: 60px;
	cursor: pointer;
	color: #fff;
	font-style: normal;
}

.guider-name {
	position: absolute;
	bottom: 40px;
	left: 40px;
	color: #fff;
	text-shadow: 1px 1px 4px #a4a4a4;
	line-height: 44px;
	font-size: 42px;
	font-weight: bold;
}

.guider-info {
	padding: 40px 20px;
	color: #565a5c;
}

.guider-info .guide-infos li{
	width: 300px;
}

.guider-info .guider-desc {
	margin-top: 30px;
	font-size: 24px;
	line-height: 36px;
}

/*******************Guide-slider********************/

.body {
	position: relative;
}

.touchslider-viewport{
	overflow: hidden;
	width: 640px;
}

.pic-carousel{
	z-index: 100;
	width: 640px;
	position: relative;
	height: 100%;
}

.pic-carousel-header{
	height: 60px;
}

.touchslider-item {
	float: left;
	width: 640px;
	overflow: hidden;
	text-align: center;
}

.touchslider-item img {
	display: inline-block;
	margin: 0 auto;
}

.touchslider-nav {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 10px;
}
.touchslider-nav a {
	cursor: pointer;
	color: #000;
}
.touchslider-nav a:active {
	background: #689db2;
}

.touchslider-nav {
	font: bold 16px/16px Georgia;
}

.touchslider-next-in {
	position: absolute; /* fix safari render font */
	right: 10px;
}
.touchslider-prev-in {
	position: absolute;
	left: 10px;
}
.touchslider-nav-item {
	width: 10px;
	height: 10px;
	background: #fff;
	margin: 8px;
	display: inline-block;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.touchslider-nav-item-current {
	background: #ffb11b;
}
.touchslider-social .touchslider-nav {
	text-align: center;
	margin-bottom: 6px;
}
.touchslider-social .touchslider-nav-item {
	opacity: .5;
	padding: 0 2px;
}
.touchslider-social .touchslider-nav-item-current {
	opacity: 1;
}


/********************Booking***************************/

.booking-head{
	position: relative;
	height: 230px;
	background-color: #edefed;
}

.return-back {
	position: absolute;
	left: 20px;
	top: 30px;
	width: 82px;
	height: 82px;
	background: url(../img/tip.png) no-repeat -7px -328px;
}

.booking-thanks{
	text-transform: uppercase;
	padding-top: 58px;
	text-align: center;
	color: #ffb11b;
	font-size: 30px;
	font-family: "Times New Roman", Arial;
}

.booking-thanks-desc{
	text-align: center;
	color: #565a5c;
	font-size: 24px;
	line-height: 34px;
	margin-top: 43px;
}

.booking-form-dis {

}

.booking-form-wrap{
	padding: 0 40px 30px;
}

.booking-form-wrap label {
	display: block;
	margin-top: 50px;
	line-height: 30px;
	font-size: 24px;
	color: #565a5c;
	text-align: center;
}

.booking-form-wrap input {
	height: 50px;
	margin-top: 30px;
	width: 100%;
	line-height: 40px;
	font-size: 24px;
	border: none;
	border-bottom: 1px solid #ffb11b;
}

.pnum-wrap input{
	width: 48%;
}

.pnum-wrap .pnum2{
	margin-left: 3%;
}

.booking-form-wrap .submit {
	background-color: #ffb11b;
	border: none;
	color: #fff;
	border-radius: 10px;
	margin-top: 50px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}